apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-api
  labels:
    app: my-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-api
  template:
    metadata:
      labels:
        app: my-api
    spec:
      containers:
        - name: my-api
          image: 262251629687.dkr.ecr.us-east-1.amazonaws.com/mynodeapp:c2b0fbacbab2912703d1aa953bd09cf004672ada
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
