name: Build and Deploy to ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, Tag, Push image to ECR
        run: |
          IMAGE_URI="${{ steps.login-ecr.outputs.registry }}/mynodeapp:latest"
          docker build -t my-api .
          docker tag my-api:latest $IMAGE_URI
          docker push $IMAGE_URI

      - name: Update Kubernetes manifests with new image
        run: |
          sed -i "s|image: .*|image: $IMAGE_URI|g" k8s/deployment.yaml
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git commit -am "Update image to $IMAGE_URI" || echo "No changes"
          git push
